@import './color.css';

body {
  margin: 0;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  background: var(--primaryBgColor);
  overflow-x: hidden
}

.section_home {
  min-height: 100%;
  top: 0;
  position: relative;
  width: 100%;
  background-size: cover;
  padding: 0;
  background-image: url("../images/unreal/10-min.jpg");
  background-attachment: fixed;
  background-position: center;

  &_desc {
    padding: 15vw 0;
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &_text {
    margin: 0;
    text-align: center;
    font-size: 6vh;
    line-height: 1;
    color: white;
    flex-basis: 100%;
    margin-bottom: 32px;
  }

  &_title {
    font-size: 10vh;
    margin: 0;
    text-align: center;
    font-weight: 100;
    color: white;
    line-height: 16vh;
    flex-basis: 100%;
  }

  &_anchor {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    padding: 16px 0;
    transition: all .2s ease;
    box-shadow: none;

    &:hover {
      box-shadow: 0px 3px 0px 0px white;
    }
  }

  &_bg {
    background-color: #4C4FC180
  }

  &_btns {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
  }

  &_btn {
    color: white;
    padding: 16px;
  }

  &:after {
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    height: 0;
    border-bottom: 100px solid var(--secondaryBgColor);
    border-left: 99vw solid transparent;
  }
}


.subsection_video {
  display: flex;
  flex-wrap: wrap;
}

.videoFrame {
  padding: 16px;
  position: relative;
  z-index: 1;
  height: 315px;
  flex: 0 1 560px;
}