@custom-media --md (min-width: 544px);

@define-mixin section $block: .section {
  $(block) {
    &_content {
      max-width: 1600px;
      margin: 0 auto;
    }
    &_title {
      font-size: 48px;
      color: white;
      font-weight: 300;
      margin-bottom: 32px;
      padding: 24px;
      margin: 0;
      position: relative;
      z-index: 1;
      &-sub {
        font-size: 24px;
        padding: 0 24px 24px 24px;
      }
      &-pb-sm {
        padding-bottom: 8px;
      }
    }
    &_desc {
      font-size: 18px;
      color: white;
      padding: 0 24px;
      position: relative;
      z-index: 1;
      margin-bottom: 5%;
      &_text {
        margin: 0;
        line-height: 1.25;
      }
      &-highlight {
        font-weight: 500;
        font-size: 21px;
      }
    }
    &_btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 0;
      appearance: none;
      background: transparent;
      color: black;
      border: 1px solid black;
      text-transform: uppercase;
      letter-spacing: 2px;
      z-index: 1;
      font-size: 24px;
      transform: translateX(-49.99%);
      padding: 0 24px;
      transition: background .2s;
      &:hover {
        background: #3a3fe4;
        color: white;
      }
      &-pinned {
        position: fixed;
        padding: 12px 24px;
        background: rgba(255, 255, 255, .3);
        @media (--md) {
          display: none;
        }
      }
      &-hide {
        display: none;
      }
    }
    &-ar {
      text-align: right;
    }
    &-cb {
      color: black;
    }
  }
}

@mixin section;
