<template>
<div v-bind:class="user.class">
    <img :src="user.background" v-bind:class="user.backgroundClass">
    <div class="section_content">
        <h1 class="section_title" v-bind:class="isAlignRight">{{user.title}}</h1>
        <div class="section_web_row">
            <skill-list v-for="skills in user.skills" :key="skills.id" :skills="skills"></skill-list>
        </div>
    </div>
</div>
</template>

<script>
import SkillList from './SkillList'

export default {
    props: ['user', 'right'],
    components: {
        SkillList
    },
    computed: {
        isAlignRight: function () {
            return {
                'section-ar': this.right
            }
        }
    }
}
</script>
