<template>
<div class="section_home" id="section-home">
    <div class="section_home_bg">
        <div class="section_home_desc">
            <h1 class="section_home_title">{{section.title}}</h1>
            <p class="section_home_text">{{section.subtitle}}</p>
            <a v-for="({name, anchor}) in section.anchors" :href="anchor" class="section_home_anchor" :key="name.id">{{name}}</a>
        </div>
        <div class="section_home_btns">
            <a class="section_home_btn" v-for="({icon, href}) in section.icons" :href="href" target="_blank" :key="icon.id">
                <font-awesome-icon :icon="['fab',icon]" size="3x"></font-awesome-icon>
            </a>
        </div>
    </div>
</div>
</template>

<script>
import {
    library
} from '@fortawesome/fontawesome-svg-core'
import {
    faLinkedin,
    faFacebook,
    faYoutube,
    faDeviantart,
    faBitbucket
} from '@fortawesome/fontawesome-free-brands'
import {
    FontAwesomeIcon
} from '@fortawesome/vue-fontawesome'

library.add(faLinkedin, faFacebook, faYoutube, faDeviantart, faBitbucket)

export default {
    props: ['section'],
    components: {
        FontAwesomeIcon
    }
}
</script>
