<template>
<div v-bind:class="section.class" :id="section.anchor">
    <div class="section_content">
        <h1 class="section_title section_title-pb-sm" v-bind:class="whiteSection">{{section.title}}</h1>
        <p class="section_title section_title-sub" v-bind:class="whiteSection">{{section.subtitle}}</p>
        <div class="section_desc" v-bind:class="whiteSection">
            <p v-for="desc in section.descriptions" :key="desc.id" class="section_desc_text" v-html="desc">{{desc}}</p>
        </div>
        <div v-if="section.movies" class="subsection_video">
            <iframe :key="movie.id" v-for="movie in section.movies" class="videoFrame" :src="movie" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <img :src="section.background" v-bind:class="section.backgroundClass" alt="">
        <gallery :thumbnails="section.gallery.thumbnails" :images="section.gallery.images" :anchor="section.anchor"></gallery>
    </div>
</div>
</template>

<script>
import Gallery from './Gallery'

export default {
    props: ['section', 'white'],
    components: {
        Gallery
    },
    computed: {
        whiteSection: function () {
            return this.white ? 'section-cb' : 'section-ar'
        }
    }
}
</script>
