<template>
<div v-bind:class="section.class" :id="section.anchor">
    <div class="section_content">
        <h1 class="section_title section_title-pb-sm" v-bind:class="whiteSection">{{section.title}}</h1>
        <p class="section_title section_title-sub" v-bind:class="whiteSection">{{section.subtitle}}</p>
        <div class="section_desc" v-bind:class="whiteSection">
            <p v-for="desc in section.descriptions" :key="desc.id" class="section_desc_text" v-html="desc">{{desc}}</p>
        </div>
        <img :src="section.background" v-bind:class="section.backgroundClass" alt="">
        <div class="section_assets-gallery" v-for="{title, thumbnails, images, hasUnity, unityLink} in section.galleries" :key="title">
            <h1 class="section_title section_title-sub section_assets_title section_title-pb-sm">{{title}}</h1>
            <a v-if="unityLink" :href="unityLink" class="section_assets_link" target="_blank">Asset Store</a>
            <gallery :thumbnails="thumbnails" :images="images" :anchor="section.anchor"></gallery>
        </div>
    </div>
</div>
</template>

<script>
import Gallery from './Gallery'

export default {
    props: ['section', 'white'],
    components: {
        Gallery
    },
    computed: {
        whiteSection: function () {
            return this.white ? 'section-cb' : 'section-ar'
        }
    }
}
</script>
