<template>
<div class="section_web_item" v-bind:class="isSubitem">
    <p class="section_web_name">{{skill.name}}</p>
    <div class="section_web_grade">
        <font-awesome-icon v-for="n in (skill.grade)" :key="n.id" prefix="far" icon="star" class="section_web_icon"> </font-awesome-icon><font-awesome-icon v-for="n in (5 - skill.grade)" :key="n.id" :icon="['far', 'star']" class="section_web_icon"></font-awesome-icon>
    </div>
</div>
</template>

<script>
import {
    library
} from '@fortawesome/fontawesome-svg-core'
import {
    faStar as solidStar
} from '@fortawesome/free-solid-svg-icons'
import {
    faStar as regularStar
} from '@fortawesome/free-regular-svg-icons'
import {
    FontAwesomeIcon
} from '@fortawesome/vue-fontawesome'

library.add(solidStar, regularStar)

export default {
    props: ['skill', 'sub'],
    components: {
        FontAwesomeIcon
    },
    computed: {
        isSubitem: function () {
            return {
                'section_web_item-sub': this.sub
            }
        }
    }
}
</script>
