@import '../color.css';
@define-mixin section_footer $block: .section_footer {
    $(block) {
        padding-top: 80px;
        padding-bottom: 32px;
        text-align: center;
        background: var(--primaryBgColor);
        position: relative;
        overflow: hidden;
        color: black;
        font-size: 18px;
        font-weight: 400;
        &:before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 0;
            height: 0;
            border-top: 70px solid var(--secondaryBgColor);
            border-left: 99vw solid transparent;
            filter: drop-shadow(0px 1px 5px black);
        }
    }
}

@mixin section_footer;
