@custom-media --lg (min-width: 992px);
@import '../color.css';

@define-mixin section_assets $block: .section_assets {
    $(block) {
        padding: 32px 0;
        background: var(--secondaryBgColor);
        position: relative;
        overflow: hidden;
        &:before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 0;
            height: 0;
            border-top: 70px solid var(--primaryBgColor);
            border-right: 99vw solid transparent;
            filter: drop-shadow(0px 1px 5px black);
        }
        &:after {
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 0;
            height: 0;
            border-bottom: 100px solid var(--secondaryBgColor);
            border-left: 99vw solid transparent;
        }
        &_image {
            max-width: 50%;
            position: absolute;
            filter: blur(4px);
            opacity: .5;
            left: 5vw;
            top: 15vw;
            @media (--lg) {
                top: 5vw;
            }
        }
        &_link {
            display: inline-flex;
            color: #3a3fe4;
            text-decoration: none;
            background: white;
            font-weight: bold;
            padding: 4px;
            border-radius: 4px;
        }
        &_title {
            display: inline-flex;
        }
        &-gallery {
            position: relative;
            overflow: hidden;
            margin-bottom: 48px;

            &:after {
                content: '';
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                z-index: 0;
                height: 0;
                border-bottom: 100px solid var(--secondaryBgColor);
                border-left: 99vw solid transparent;
            }
        }
    }
}

@mixin section_assets;
