@custom-media --lg (min-width: 992px);

@import '../color.css';

@define-mixin section_unity $block: .section_unity {
    $(block) {
        padding: 32px 0;
        background: var(--secondaryBgColor);
        position: relative;
        overflow: hidden;
        &:before {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 0;
            height: 0;
            border-top: 70px solid var(--primaryBgColor);
            border-right: 99vw solid transparent;
            filter: drop-shadow(0px 1px 5px black);
        }
        &:after {
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 0;
            height: 0;
            border-bottom: 100px solid var(--secondaryBgColor);
            border-left: 99vw solid transparent;
        }
        &_image {
            max-width: 50%;
            position: absolute;
            filter: blur(4px);
            opacity: .5;
            left: 5vw;
            top: 15vw;
            @media (--lg) {
                top: 5vw;
            }
        }
    }
}

@mixin section_unity;
