@custom-media --sm (min-width: 544px);
@import '../color.css';

@define-mixin section_web $block: .section_web {
    $(block) {
        padding-bottom: 32px;
        background: var(--secondaryBgColor);
        position: relative;
        &_image {
            max-width: 70%;
            position: absolute;
            filter: blur(2px);
            opacity: .2;
            left: 5%;
            pointer-events: none;
        }
        &_row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        &_col {
            display: flex;
            flex-direction: column;
            padding: 24px;
            flex: 1 0 auto;
            &-sub {
                padding: 0;
                margin-bottom: 12px;
            }
        }
        &_icon {
            color: white;
        }
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            font-size: 18px;
            @media (--sm) {
                max-width: 250px;
            }
            &-sub {
                font-size: 14px;
                margin-bottom: 4px;
                padding-left: 8px;
                & .section_web_grade {
                    padding-right: 8px;
                }
                &+.section_web_item:not(&) {
                    margin-top: 12px;
                }
            }
        }
        &_name, &_title {
            font-weight: 600;
            color: white;
            margin: 0;
        }
        &_title {
            font-size: 28px;
            font-weight: 300;
            margin-bottom: 16px;
        }
        &_grade {
            margin-left: 8px;
        }
    }
}

@mixin section_web;
